.navbar {
  border: none;

  .badge-credit {
    background-color: #fff;
    color: $link-color;
    text-shadow: none;
  }

  .navbar-nav > li > a.btn-rounded-dropdown {
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 50px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
      border-color: #fff;
      background-color: transparent;
    }
  }

  .secondary-navbar {
    background: darken(desaturate($navbar-default-link-active-bg, 50%), 10%);

    .navbar-nav {
      margin-top: 0;
      margin-bottom: 0;

      > li > a {
        &:hover {
          background: $gray-darker;
        }
      }
    }
  }
}

@media (min-width: $screen-xs-max) {
  .navbar {
    .secondary-navbar {
      padding-left: 0;
      padding-right: 0;

      .navbar-collapse {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}
