@import "bootstrap/mixins";

$gray-darker:              lighten(#000, 13.5%);
$gray-dark:                #444;
$gray:                     #95a5a6;
$gray-light:               #b4bcc2;
$gray-lighter:             #ecf0f1;

$brand-primary:            #0c84e4;
$brand-success:            #18BC9C;
$brand-info:               #9954BB;
$brand-warning:            #F39C12;
$brand-danger:             #E74C3C;

@import "bootswatch/cosmo/variables";

//-- CUSTOMISE BOOTSWATCH THEME -----------------------------

// Navbar

$navbar-default-color:     $navbar-inverse-color;
$navbar-default-bg:        $navbar-inverse-bg;
$navbar-default-border:    $navbar-inverse-border;

$navbar-default-link-color:         $navbar-inverse-link-color;
$navbar-default-link-hover-color:   $navbar-inverse-link-hover-color;
$navbar-default-link-hover-bg:      $navbar-inverse-link-hover-bg;
$navbar-default-link-active-color:  $navbar-inverse-link-active-color;
$navbar-default-link-active-bg:     $navbar-inverse-link-active-bg;
$navbar-default-link-disabled-color:$navbar-inverse-link-disabled-color;
$navbar-default-link-disabled-bg:   $navbar-inverse-link-disabled-bg;


// Border Radius

$border-radius-base:       3px;
$border-radius-large:      5px;

$input-border-radius:      $border-radius-small;
$alert-border-radius:      $border-radius-small;
$list-group-border-radius: $border-radius-small;
$panel-border-radius:      $border-radius-small;

// Buttons

$btn-default-bg:           $gray-light;

@import "bootswatch/cosmo/bootswatch";

// Give buttons a bottom 3D effect
.btn {
  box-shadow: inset 0 -2px rgba(0,0,0,0.2);
  &:hover {
    box-shadow: inset 0 -1px rgba(0,0,0,0.3);
  }
}
