@charset "utf-8";

@import "theme";
@import "bootstrap-custom";


@import "bootswatch/cosmo/bootswatch";

label, input[type=text] {
  font-family: $font-family-sans-serif-secondary;
}

// Give buttons a bottom 3D effect
.btn {
  box-shadow: inset 0 -2px rgba(0,0,0,0.2);
  &:hover {
    box-shadow: inset 0 -1px rgba(0,0,0,0.3);
  }
}

.alert {
  clear: both;
}
.alert-warning {
  a {
    color: darken($alert-warning-bg, 30%);

    &:hover {
      color: $alert-warning-text;
    }
  }
}

@import "header";
@import "pages";
@import "after_signup";
@import "mobile";


// Show a message on pages which need to be overrided within the consumer app
.xeroEngineReplaceMe {
  @extend .alert;
  @extend .alert-info;
}

// Connect to Xero buttons
.oauthConnectButtons {
  .waiting {
    line-height: $input-height-small;
    color: $text-muted;
    .spinner {
      margin-right: 1em;
    }
  }
}
