<div class="row">
  <div class="col-xs-12">
    <h1>Logged into <%= current_organisation.name %></h1>

    <p class="xeroEngineReplaceMe">
      <strong>REPLACE:</strong> Create a view in your project at `/views/xero_engine/dashboard/index.html.erb`
    </p>
  </div>
</div>
