<div class="col-md-8 col-md-offset-2">
  <h1>Terms and Conditions</h1>

  <p class="xeroEngineReplaceMe">
    <strong>REPLACE:</strong> Create a view in your project at `/views/xero_engine/pages/terms.html.erb`
  </p>
</div>
