<li>
  <%= link_to 'Home', xero_engine.root_path %>
</li>
<li>
  <%= link_to 'About', xero_engine.page_path(id: 'about') %>
</li>
<li>
  <%= link_to 'Testimonials', xero_engine.page_path(id: 'testimonials') %>
</li>