<li class="dropdown">
  <%= link_to "#{current_organisation? ? truncate(current_organisation.name, length: 20) : 'Select an Organisation'} <b class=caret></b>".html_safe,
              '#',
              class: 'dropdown-toggle btn-rounded-dropdown',
              data: { toggle: 'dropdown' } %>
  <ul class="dropdown-menu" role="menu">
    <% current_user.organisation_memberships.each do |m| %>
        <li>
          <%= link_to m.organisation.name, xero_engine.organisation_membership_path(m) %>
        </li>
    <% end %>
    <li class="divider"></li>
    <li>
      <%= link_to 'Manage', xero_engine.organisation_memberships_path %>
    </li>
  </ul>
</li>