<ol class="setup-progress list-inline">
  <li class="<%= step == :welcome ? 'active': nil %>">Welcome</li>
  <li class="<%= step == :address ? 'active': nil %>">Postal Address</li>
  <li class="<%= step == :print_settings ? 'active': nil %>">Print Settings</li>
  <li class="<%= step == :done ? 'active': nil %>">Done</li>
</ol>